<h2>Ponencias registradas</h2>
<% if @ponencias.nil? or @ponencias.empty? %>
  <p> Todavía no hay ponencias. ¡Empieza creando una! </p>
<% else %>
<div id="primarycontent">

  <% @ponencias.each do |p| %>
    <div class="post">
      <div class="header">
        <h3><%= p.titulo %></h3>
      </div>
      <div class="content">
        <p><%= p.descripcion %></p>
      </div>
      <div class="footer">
        <ul>
          <li>
            <%= link_to "Detalles", ponencia_path(p) %>    
          </li>
          <% if session[:nivel] != nil and session[:nivel] >= 2 %>
          <li>
            <%= link_to "Eliminar", ponencia_path(p), :confirm => "¿Estás seguro?", :method => :delete %>    
          </li>
          <% end %>
        </ul>
      </div>

  </div>
  <% end %>
</div>
<% end %>
      
